# Dependências
node_modules/

# Variáveis de ambiente (senhas e chaves)
.env
.env.*

# Logs
*.log
npm-debug.log*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pastas de editores
.vscode/
.idea/